.Checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Checkbox--input {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}