.Property {
    color: white;
    margin: 5px 10px;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.Property--label {
    font-weight: bold;
}

.Property--content {
    margin: 10px;
    font-size: 10pt;
}